<section class="trips">
    <div class="container card">
        <h1 class="my1 card-title">Trips</h1>

        <ul>
            <%@trips.each do |trip|%>
                <li class="flex"><strong> A Trip to <%=trip.destination%> </strong><%=link_to "edit", edit_trip_path(trip), class: "links"%>  <%=link_to "delete", trip, method: :delete, data: {confirm: "Are you Sure"}, class: "links"%> </li>
            <%end%>
        </ul>

        <div class="my2"><%= link_to "New Trip", new_trip_path, class: "btn"%></div>

    </div>
</section>
