<section>
    <div class="container">
        <h1 class="my1">Trips</h1>

        <ul>
            <%@trips.each do |trip|%>
                <li>A trip to <%=trip.destination%></li>
            <%end%>
        </ul>

        <div class="my2"><%= link_to "New Trip", new_trip_path, class: "btn"%></div>

    </div>
</section>
