<section class="trips">
    <div class="container card">
        <h1 class="my1 card-title">Trips</h1>

        <ul>
            <%@trips.each do |trip|%>
                <li class="flex"><strong>A trip to <%=link_to trip.destination, bus_trip_path(@bus, trip), class: 'links'%> </strong> <%=link_to "edit", edit_bus_trip_path(@bus, trip), class: "links"%>  <%=link_to "delete", bus_trip_path(@bus, trip), method: :delete, data: {confirm: "Are you Sure"}, class: "links"%> </li>
            <%end%>
        </ul>

    </div>
</section>
