<section class="trips flex center">
    <div class="container card">
        <h1 class="my1 card-title">Trips</h1>

        <ul>
            <%=form_tag "/trips", method: "get" do%> 
                <%@trips.each do |trip|%>
                    <li class="flex"><strong>A trip to <%=label :trip, :destination, trip.destination%> </strong> <%=check_box(:trip, :destination, checked_value: trip.id)%></li>

                <%end%>
                <%=submit_tag "Book trips", class: "btn"%>
            <%end%> 
        </ul>

    </div>
</section>
