<section class="students center">
    <div class="container my1 card">
        <h1 class="card-title">Students</h1>

        <ul>
            <% @students.each do |student| %>
                <li class="flex my1"><%= link_to student.name, student, class: "links"%> <%= link_to "Edit", edit_student_path(student),class: "links"%> <%= link_to "Delete", student, method: :delete, class: "links"%></li>
            <% end %>
        </ul>

    </div>
</section>

