@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "./variable.scss";

@mixin link($border-color, $color) {
    color: $color;
    &:hover {
        border-bottom: $border-color 2px solid;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "lato" ,"sans-serif";
}

body {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 30px;
}

a {
    text-decoration: none;
    @include link(#fff, #fff)
}

li {
    margin-top: 15px;
}

.links {
    text-decoration: none;
    border-bottom: none;
    color: #333;
    &:hover {
        color: hotpink;
    }
}

.students {
    a {
        color: #333;

        &:hover {
            border-bottom: #333 2px solid;
        }
    }
}

.container {
    margin: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    height: 80px;
    ul {
        @extend .flex;
        li {
            margin-left: 12px;
        }
    }

    .container {
        width: 100%;
    }
}
//utilities

.my1 {
    margin-top: 1em;
}

.my2 {
    margin-top: 2em;
}

.form {
    width: 370px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    margin-top: 2em;
    width: 380px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: #333 2px solid;
}

// trips

.btn {
    color: #fff(165, 156, 156);
    background-color: rgb(175, 187, 6);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    &:hover {
        transform: scale(0.98);
    }
}
