<%=form_with model: @bus do |form|%>

    <div class="container flex my1">
        <%=form.label :capacity%>
        <%=form.text_field :capacity%>
    </div>

    <div class="container flex my1">
        <%=form.submit class: "btn"%>
    </div>
<%end%>